#navcss{
	margin-left:13%;
	margin-right:13%;
}
.logoname{
	padding-top:1.6%;
	font-size:30px;
}
.searchdiv{
	padding-top:5.6%;
}
.searchdiv input {
    background-image: url(../images/search.png);
    background-color:#FAFAFA;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    text-indent: 20px;
}

